 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #fff0eb;
	font-size: 20px;
	color: #6d0a00;
}

::selection {
	color: white;
	background-color: #c81c34;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	margin: 0 2em 0.75em 2em;
	line-height: 1.3;
}
h1 + p {
	margin: 1em 2em 0.75em 2em;
}
h1 {
	font-size: 3em;
	font-weight: bold;
	color: #c81c34;
	margin: 1em 0 -0.25em 0;
	padding-left: 0.6em;
	border-bottom: 5px solid #c81c34;
	text-shadow: 0 5px #fff0eb, 5px 0 #fff0eb, -5px 0 #fff0eb;
}
h2 {
	background-image: url("bgStripes.png");
	background-size: contain;
	margin: 1em 0.5em 0.25em 0.5em;
	font-size: 2em;
	padding: 0.25em 0.75em 0.4em 0.75em;
	color: white;
	font-weight: bold;
	border-radius: 20px;
	text-shadow: 0px 5px #a0000c;
}
h2::selection, h2 a::selection {
	background-color: white;
	color: #c81c34;
	text-shadow: none;
}
h3 {
	font-weight: bold;
	color: #c81c34;
	border-left: 0.3em solid #c81c34;
	border-bottom: 0.1em solid #c81c34;
	display: inline-block;
	padding: 0 0 0.1em 0.25em;
	margin: 0.5em 2em 0 2em;
	/*text-shadow: 0 2px #fff0eb, 2px 2px #fff0eb, -2px 2px #fff0eb;*/
}
h4 {
	background-image: url("bgStripes.png");
	background-size: contain;
	margin: 0.5em 0 0.25em 0;
	font-size: 2em;
	padding: 0.25em 0.75em 0.4em 0.75em;
	color: white;
	font-weight: bold;
	text-shadow: 0px 5px #a0000c;
}
b {
	font-weight: bold;
}
p b {
	color: #c81c34;
}
p a {
	color: #c81c34;
	text-decoration: underline;
}
a:hover {
	font-weight: bold;
}

h2 a {
	color: inherit;
	text-decoration: none;
}
h2 a:hover {
	font-weight: inherit;
}

div.alert {
	background: repeating-linear-gradient(
	-35deg,
	#f8af00,
	#f8af00 7px,
	#eea800 7px,
	#eea800 14px
	);
	color: white;
	font-weight: bold;
	margin: 0 2em 0.5em 2em;
	border-radius: 20px;
	padding: 0.5em 1em 0.6em 1em;
	position: relative;
	display: flex;
	text-shadow: 0px 2px #d19300;
}
div.alert span::selection {
	background-color: white;
	color: #f8af00;
	text-shadow: none;
}
div.alert span {
	display: flex;
	flex-direction: column;
	position: relative;
}
div.alert span:first-child {
}
div.alert span:not(:first-child) {
	padding-left: 0.5em;
}
div.alert span:first-child i {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#returnTop, #returnTopPadding {
	display: none;
}

#everything {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-self: stretch;
}
#blurb {
}
#tableOfContents, #mobileTableOfContents {
	background-image: linear-gradient(to right, #272727 80%, #202020);
	text-shadow: 0px 1px #555555;
	color: white;
	margin: 0;
	padding-top: 0.75em;
	width: 25em;
	height: 101%;
	overflow-y: scroll;
	line-height: 1.3;
	position: fixed;
	z-index: 2;
	display: none;
	box-shadow: -35px 0 20px 40px rgba(0,0,0, 0.5);
	overflow-wrap: normal;
}
#tableOfContents a, #mobileTableOfContents a {
	display: block;
	margin: 0 1em 0.75em 1em;
}
#mobileTableOfContents {
	display: none;
}
.tableOfContentsTopic {
	display: block;
	margin: 0 1em 0.75em 0.5em;
	padding-bottom: 0.25em;
	border-bottom: solid 2px white;
	font-weight: bold;
}
#contents {
	display: block;
	padding: 0.5em 0 0.5em 0;
}
.text {
}
.closeTableOfContents {
	position: fixed;
	top: 0;
	left: 10em;
	font-size: 2em;
}
#openTableOfContentsButton {
	position: fixed;
	height: 100%;
	background-color: rgba(32,32,32, 0);
	color: white;
	padding: 0 0.5em 0 0.25em;
	transition: background-color 0.25s ease-in-out;
	text-shadow: 0 2px #6d0a00;
}
#openTableOfContentsButton:hover {
	background-color: rgba(32,32,32, 1);
}
#openTableOfContentsButton i {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.red {
	color: #c81c34;
}
.weak {
	color: rgba(109, 10, 0, 0.33);
}
.linethrough {
	text-decoration: line-through;
}